html {
  overflow: hidden;
}
body {
  background-image: url("http://eskipaper.com/images/cool-mountain-valley-1.jpg");
  color: #fcd967;
}
#mainFrameBackgroundContainer {
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 6px;
  margin: 0 25px 50px;
}

header {
  padding-bottom: 10px;
  height: 60px;
  border-bottom: 1px solid black;
}

header:hover {
  background-color: #164c54;
}
