#body, #footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  font-size: 0.5em;
}

.contentBox {
  display: block;
}

.registerButton {
  background-color: transparent;
  float: right;
  padding: 25px;
  border-left: 1px solid black;
}

h1 {
  font-size: 64px;
}
#aboutParagraphTitle {
  font-size: 1.5em;
}

.logo {
  float: left;
}
.big-logo:hover {
  cursor: pointer;
}
