body{
  text-align: center;
}
#sign-in-form, #sign-up-form {
  color: #2596e8;
}

.title-text {
  text-align: center;
  font-size: 1.7em;
}


.contentBox {
  padding-top: 30px;
}

#next-button {
  text-decoration: none;
}

h1 {
  text-align: center;
}
.button {
  width: 80%;
  background-color: #fcd967;
  color: #2596e8;
  height: 40px;
}
.button:hover {
  background-color: #0564b7;
  cursor: pointer;
  border: 1px solid black;
  transition: .3s ease-in-out;
}
#no-account {
  color: #fcd967;
}
