.form-container {
  margin: 20px 30px 30px;
}

#sign-in-form, #sign-up-form {
  color: #2596e8;
}

.title-text {
  text-align: center;
  font-size: 1.7em;
}

#next-button {
  text-decoration: none;
}

#sign-in-container {
  float: left;
  border-right: 2px ridge #fcd967;
  width: 49%;
}
#sign-up-container {
  float: right;
  border-left: 2px ridge #fcd967;
  width: 49%;
}
h1 {
  text-align: center;
}
