#form-container {
  margin: 20px 30px 30px;
}

#sign-in-form {
  color: #2596e8;
}

.title-text {
  text-align: center;
  font-size: 1.7em;
}

#about-blurb {
  color: #fcd967;
  text-align: center;
  font-size: 3em;
}